footer {
    text-align: center;
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFE226;
}

@media screen and (max-width: 900px) {
    footer {
        flex-direction: column;
        height: auto;     
        gap: 20px;      
        padding: 40px 20px; 
    }
}